{% extends "base.html" %}

{% block content %}
    <div class="article-container">
        <div class="article-content">
            {{ article | markdown | safe }}
        </div>
        <div class="image-suggestions">
            <h3>Related Images</h3>
            {% for image in images %}
                <div class="image-container">
                    <img src="{{ image.url }}" alt="{{ image.description }}">
                    <p>{{ image.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <a href="{{ url_for('index') }}">Generate another article</a>
{% endblock %}