{% extends "base.html" %}

{% block content %}
    <h1>Cached Articles</h1>
    {% if articles %}
        <ul class="cached-articles">
            {% for article in articles %}
                <li class="cached-article">
                    <a href="{{ url_for('view_article', article_id=article.id) }}" style="text-decoration: none; color: inherit;">
                    <h2 class="cached-article-title">{{ article.title }}</h2>
                    <p class="cached-article-content">{{ article.content[:500] |markdown|safe }}...</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No cached articles found.</p>
    {% endif %}
{% endblock %}